<div class="timeline">

  <div class="timeline-item">

    <div class="timeline-content">
        <h3>{{ 'SKILLS.TITLE2' | translate}}</h3>
        <div style="display: flex;margin-top: 40px;">
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="responsive-img" />JavaScript
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" class="responsive-img" />C#
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/visualbasic/visualbasic-original.svg" class="responsive-img" />Visual Basic
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" class="responsive-img" />MySQL
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg" class="responsive-img" />PostgreSQL
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="responsive-img" />HTML5
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" class="responsive-img" />CSS3
            </div>
        </div>
    </div>
  </div>

  <div class="timeline-item">
        <div class="timeline-content">
        <h3>Frameworks</h3>
        <div style="display: flex;margin-top: 40px;">
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" class="responsive-img" />Angular
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" class="responsive-img" />React
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" class="responsive-img" />NodeJs
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nextjs/nextjs-original.svg" class="responsive-img" />NextJs
            </div>
        </div>
    </div>
  </div>

  <div class="timeline-item">
        <div class="timeline-content">
        <h3>{{ 'SKILLS.TITLE3' | translate}}</h3>
        <div style="display: flex;margin-top: 40px;">
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" class="responsive-img" />Git
            </div>
            <div class="div-img">
                <img alt="" src="https://logo.svgcdn.com/logos/aws.svg" class="responsive-img" />AWS
            </div>
            <div class="div-img">
                <img alt="" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg" class="responsive-img" />Docker
            </div>
        </div>
    </div>
  </div>

</div>


